.article-block {
  display: flex;
  margin: 50px 40px;
}
.image-article {
  border-radius: 10px;
  width: 220px;
  height: 300px;
  object-fit: cover;
}
.info-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.head-section-info {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.head-section-info-text {
  color: #2b283a;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 5px;
}
.view-image-text {
  letter-spacing: 0px;
  font-weight: 400;
  color: #918e9b;
  cursor: pointer;
  text-decoration: underline;
}
.title {
  color: #2b283a;
  padding-left: 10px;
  margin-top: 0px;
}
.date {
  color: #2b283a;
}
.bottom-setion-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}
.description {
  color: #2b283a;
  display: flex;
  align-items: flex-start;
}
